.directions__container {

    display: flex;
    width: 100%;
    justify-content: center;

    .map__container {
        width: 100%;
        margin: 2rem;
    
        .map {
            width: 100%;
            border: none;
            border-radius: 2%;
            -webkit-box-shadow: 5px 5px 12px 5px rgba(0,0,0,0.32); 
            box-shadow: 5px 5px 12px 5px rgba(0,0,0,0.32);
        }
    }

    .text__container {
        font-family: 'Courier New', Courier, monospace;
        margin: 1rem;
        font-size: 2.1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

$breakpoint-mobile: 390px;
@media (min-width: $breakpoint-mobile) {

    .directions__container {
        display: grid;
        grid-template-columns: 1;

        .map__container {
            margin: .1rem;
            width: 100%;

            .map {
                border-radius: 5px;
            }
        }

        .text__container {

            margin: .1rem;
            h2 {
                text-align: center;
            }
            p {
                text-align: center;
            }
        }
    }
}

