.image__holder {
    display: flex;
    justify-content: center;
    width: 100%;

    .img__main {
        margin: 1rem;
        width: 150%;
        position: relative;
        top: 10rem;

        .img {
            border-radius: 2%;
        }
        
    }

    .text__holder {
        font-family: 'Courier New', Courier, monospace;
        margin: 1rem;
        font-size: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .text {
            letter-spacing: .5rem;
            line-height: 4.5rem;

            p {
                font-size: 1.8rem;
                line-height: 2rem;
                text-align: center;
            }
        }
    }
}

$breakpoint-mobile: 390px;
@media (max-width: $breakpoint-mobile) {
    .image__holder {
        display: grid;
        grid-template-columns: 1;

        .img__main {
            margin: .2rem;
            width: 100%;
            position: relative;
            top: .5rem;
            left: .35rem;
        }

        .text__holder {
            margin: 1rem;
            font-size: 1.5rem;
            

            .text {
                h5 {
                    font-size: 2rem;
                    text-align: center;
                }
            }
        }
    }
}