.image__holder {
    display: flex;
    justify-content: center;
    width: 100%;

    .img__main {
        margin: 1rem;
        width: 100%;
        
    }

    .list__holder {
        font-family: 'Courier New', Courier, monospace;
        margin: 1rem;
        font-size: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .text {
            letter-spacing: .5rem;
            line-height: 4.5rem;
        }

        .btn {
            text-align: center;
            font-size: 4rem;
            font-family: 'Courier New', Courier, monospace;
            letter-spacing: .5rem;
            margin-top: 5rem;
            padding: .4rem;
            border: rgb(0, 0, 0) solid .2rem;
            border-radius: 5%;
            width: 13rem;
            
        
            &:hover {
                cursor: pointer;
                background-color: rgb(255, 0, 0);
                border-color: rgb(255, 0, 0);
                color: white;
        
                transition: background-color ease-in 400ms;
                transition: border-color ease-in 400ms;
                transition: color ease-in 500ms;
                
            }
        
            animation: btnWiggle 5s infinite;
        -webkit-animation: btnWiggle 5s infinite;
        }

        .note__input {
            border-top: none;
            border-right: none;
            border-left: none;
            outline: none;
            font-size: 3rem;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}

.rsvp__holder {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    margin: 1rem;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}




@keyframes btnWiggle {
	0% {-webkit-transform: rotate(0deg);}
	2% {-webkit-transform: rotate(-1deg);}
	3% {-webkit-transform: rotate(1deg);}
	5% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(0deg);}
}

$breakpoint-mobile: 390px;
@media (min-width: $breakpoint-mobile) {

    .image__holder {
        display: grid;
        grid-template-columns: 1;

        .img__main {
            margin: .5rem;
        }

        .list__holder {
            
            .btn {
                -webkit-box-shadow: 5px 15px 14px 3px rgba(0,0,0,0.56); 
                box-shadow: 5px 15px 14px 3px rgba(0,0,0,0.56);
            }
        }
    }

    .rsvp__holder {

        font-size: 1.5rem;
        display: block;

        .rsvp__notes {
            text-align: left;
            margin: 2rem;
            padding: .5rem;
            border: solid .1rem rgba(17, 5, 5, 0.5);
            border-radius: 5px;
            -webkit-box-shadow: 5px 8px 14px 3px rgba(0,0,0,0.56); 
            box-shadow: 5px 8px 14px 3px rgba(0,0,0,0.56);    
        }
    }
}